:root{
    --pr-hijau:#048853;
}


body{
    font-family: "Poppins";
    background-color: #E5E5E5 ;
}

.navbar{
    z-index: 3;
}
*{
    z-index: 2;
}
.accent-banner{
    z-index: 1;
}

/* navbar style */
.navbar-brand{
    font-size: 20px;
    font-weight: 700;
}
.nav-link.active{
    font-size: 16px;
    font-weight: 700;
}
.nav-link{
    font-size: 16px;
    font-weight: 400;
}
.btn-masuk{
    width: 133px;
    height: 40px;
    background-color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--pr-hijau);
}
.btn-daftar{
    width: 133px;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color:#fff;
}
/* navbar end */

/* style hero  */
#hero{
    background: linear-gradient(160deg, var(--pr-hijau), #000);
    height: 100vh;
}
.text-hero h1{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 70px;
}

.text-hero p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    width:75%;
}

.btn-lg{
    width: 237px;
    height: 70px;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
    color: var(--pr-hijau);
    border:none;
}


/* end style hero */

/* layanan style */
#our-service{
    padding: 100px 0;
    width: 100%;
}
h1{
    font-size: 48px;
    font-weight: 700;
    color: var(--pr-hijau);
}
p{
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
.card-layanan{
    height: 313px;
    border-radius: 5px;
    background-color: #fff;
    padding: 40px;
    transition: all 0.1s ease-in;
}
.container-img{
    height: 70px;
    width: 70px;
    background-color: var(--pr-hijau);
    border-radius: 50%;
    transition: all 0.1s ease-in;
}
.card-layanan h4{
    font-size: 24px;
    font-weight: 500;
    color:var(--pr-hijau);
    transition: all 0.1s ease-in;
}
.card-layanan p{
    font-size: 14px;
    font-weight: 400;
    color:#000;
    transition: all 0.1s ease-in;
}

/* hover card */
.card-layanan:hover{
    background: linear-gradient(160deg, var(--pr-hijau), #000);
    transition: all 0.1s ease-in;
}
.card-layanan:hover .container-img{
    background-color: #fff;
    transition: all 0.1s ease-in;
}
.card-layanan:hover h4{
    color: #fff;
    transition: all 0.1s ease-in;
}
.card-layanan:hover p{
    color: #fff;
    transition: all 0.1s ease-in;
}
/* end hover card */
/* end layanan */

/* stye temukan rumah */
#temukan-rumah{
height:100vh;
background-image: url(image/grup\ 2.png);
background-repeat:no-repeat;
background-size:100%;
background-position:center;
}
.tmk-rumah{
font-size: 38px;
font-weight: 700;
color: #fff;
margin-top: 140px;

}
.sub-tmk-rmh{
font-weight: 400;
color: #fff;

}
.btn-tab{
    height: 42px;
    color: var(--pr-hijau);
    background-color: rgb(255,255,255, 0.5);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
}
.jual{
    border-radius: 10px 0 0 0;
}
.property{
    border-radius: 0 10px 0 0;
}
.btn-tab.active{
    height: 42px;
    color: var(--pr-hijau);
    background-color:rgba(255,255,255, 0.8);
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.3s ease-in;
}
.input-group{
     height: 88px;
     background-color: rgba(255,255,255, 0.8);
     border-radius:0 0 0 10px;
}
.btn-cari{
    width: 135px;
    height: 100%;
    background-color:  var(--pr-hijau);
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.btn-search{
    border:none ;
    background-color: transparent;
    color:  var(--pr-hijau);
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    border-right:solid 2px white;
}
.nav-tabs{
border:none;

}

.form-control{
border:none;
background-color:rgba(255,255,255, 0.349);    
}
.from-control-placeholder{
color:var(--pr-hijau);    
}
.form-control-focus{
box-shadow: 1px 1px 5px 1px var(--pr-hijau);
color:var(--pr-hijau);
}
/* end style temukan rumah */
